:root {
	background-color: cornsilk;
	padding-left: 20%;
	padding-right: 20%;
}
header {
	text-align: center;
}
h1 {
	display: inline;
}
header img {
	vertical-align: bottom;
}

#actions {
	margin-top: 0.5em;
	display: flex;
	justify-content: center;
}
#actions button {
	font-size: 1.5rem;
	border-radius: 5px;
	font-weight: bold;
	margin: 5px;
	cursor: pointer;
}

#sowwyImLazy {
	font-style: italic;
	margin: 1em;
}


summary {
	font-weight: bold;
	font-size: 1.5rem;
	cursor: pointer;
}
[open] summary {
	position: sticky;
	top: 0;
	background-color: cornsilk;
}

details details summary {
	font-size: 1.3rem;;
}

.codeContainer {
	margin-left: 0.8ch;
	padding-left: 0.5ch;
	border-left: 2px solid black;
}