body {
	margin: 5px;
	width: 40em;
}

#popupIcon {
	width: 18px;
	height: 18px;
}

header {
	font-family: 'courier new';
	font-size: 16px;
}

header h2 {
	display: inline;
}

label + label {
	margin-left: 1ch;
}

input {
	margin: 2px;
}

main input {
	display: block;
}

#buttons {
	display: flex;
	justify-content: space-between;
}

#buttons button {
	border-radius: 5px;
	height: 30px;
	font-weight: bold;
	margin: 5px;
}